body {
    width: 900px;
    margin: 0 auto;
    background: #d2d2c1 url('../imgs/fundo.png');
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: #c5c5b2;
    padding: 5px;
}

.menu li {
    display: inline-block;
    color: #4b566a;
}

.menu a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}

.conteudo {
    padding: 10px;
    background-color: #e8e8d9;
}

.img-campanha {
    border: 10px solid #c3c3ae;
}

.titulo {
    color: #828271;
    font-size: 1.2em;
}

.negrito {
    font-weight: bold;
}

footer {
    text-align: center;
}